.my_1 {
    background-color:#e86ad7;
    font-family: Arial;
    width: 400px;
    height: 300px;

}

.my_2 {
    background-color: #3f1848;
    font-family: Arial;
    color: azure;
    width: 400px;
    height: 300px;
}

.my_3 {
    background-color: rgb(182, 164, 185);
    font-family: Arial;
    color: azure;
    width: 400px;
    height: 300px;

}